@import url('https://fonts.googleapis.com/css?family=Khula');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
}

/*Utilities*/
.gray-dark {
    background-color: #3b44b;
}
