@import url('https://fonts.googleapis.com/css?family=Khula');


html, body, section {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Khula', sans-serif;
    background-color: ghostwhite;
}
/*Utilities*/

.gray-dark {
    background-color: #3b444b;
}
.gray-medium {
    background-color: #62676b;
}
.gray-green {
    background-color: darkslategray;
}
.gray-soft {
    background-color: #bac7b6;
}
.gold {
    background-color:  #f0c50f;
}

input[type="button"],
button {
    border-radius: 50%;
    border-style: none;
    width: 19%;
    height: 21%;
    margin: 2%;
    color: #000;
    font-weight: 800;
    font-size: 15px;
    box-shadow: 1px 7px 3px #888888;
    background: linear-gradient( #000,#fff)
}
button:focus,
input:focus {
    outline: none;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.flex-content {
    vertical-align: middle;
    width: 280px;
}

.head {
    height: 80px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}
.content {
    height: 200px;
    padding: 9% 7% 40% 7%;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
    text-align: center;
}

.screen-case {
    height: 42px;
    background-color: darkgray;
    padding: 3%;
    border-radius: 5;
    margin-bottom: 5%;
}

.screen {
    border-style: none;;
    width: 100%;
    height: 40px;
    font-weight: 800;
    font-size: 30px;
    text-align: right;
    color: #000;
}
hr {
    background: #fff;
    height: 2px;
    border-style: none;
}
@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 1);
    }

    100% {
        box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0);
    }
}

.shadow-pulse {
    animation-name: shadowPulse;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
